.start-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40svh;
  max-width: 50rem;
  margin: auto;
  padding: 2rem;
  background: linear-gradient(180deg, #3e2a60 0%, #321061 100%);
  border-radius: 8px;
  /* box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.6); */
  box-shadow: 1px 1px 8px 4px rgba(12, 5, 32, 0.6);
  text-align: center;
}

.start-container h2 {
  /* background: rgb(2,0,36);
  background:  */
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 255, 105, 1) 17%,
    rgba(0, 212, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.3rem;
  font-weight: larger;
  font-size: 1.7rem;
  margin-top: 0px;
}

.button-start {
  padding: 0px 10px;
  width: 20rem;
  height: 4rem;
  border-radius: 25px;
  font-size: 3rem;
  background-color: #6cb7f5;
  color: #2c203d;
  transition: 0.6s;
  border: transparent;
  margin: 10px 0px;
}

.button-start:hover {
  background-color: rgba(0, 255, 105, 1);
  color: black;
}

.start-container p {
  margin-top: 0;
}

.button-start:active {
  transform: scale(0.96);
}

.options {
  margin-top: 13px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.options p {
  font-size: large;
  font-weight: large;
}

.options p:nth-child(2) {
  color: rgba(0, 255, 105, 1);
}

.options p:nth-child(3) {
  color: red;
}

@media screen and (max-width: 586px) {
  .start-container {
    height: 46svh;
  }
}

@media screen and (max-width: 415px) {
  .start-container {
    height: 80svh;
  }

  .options {
    flex-direction: column;
  }

  .button-start {
    width: 180px;
    height: 3rem;
    font-size: medium;
  }
}
